* {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

footer h1 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-weight: lighter;
}

h5 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: black;
}

footer, footer a {
  color: #ffffff;
}

button {
  margin: 6% 0 15% 0;
  border: none;
  border-radius: 50px;
  padding: 5%;
  font-weight: bold;
  font-size: 0.9em;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px silver;
}

button:focus {
  outline: none;
}

.linear-gradient {
  background: linear-gradient(-10deg, #9356DC, #F074DA);
}

header {
  text-align: center;
}
header a {
  text-decoration: none;
  color: black;
}

header div {
  background-color: #F6F6F6;
}

.restaurant-header {
  position: relative;
}
.restaurant-header a {
  font-size: 1.5em;
  position: absolute;
  left: 10px;
  top: 6px;
}

header div div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #eaeaea;
  box-shadow: -1px 2px 4px -1px darkgray inset;
  padding: 2% 0;
}

.fa-map-marker-alt {
  line-height: 30px;
  height: 30px;
  width: 30px;
}

input[type=text] {
  display: block;
  border: none;
}

h3 {
  margin: 5% 15% 0 15%;
  line-height: 1.2;
}

h4 {
  margin: 4%;
}

footer {
  background-color: #353535;
  padding: 5%;
}

footer div {
  display: flex;
  flex-direction: column;
}
footer div a {
  margin: 1% 0 1% 0;
}
footer div a:first-child p {
  margin-left: 4%;
}
footer div a:nth-child(2) p {
  margin-left: 2%;
}

footer div a:first-child, footer div a:nth-child(2) {
  display: flex;
}

body section:first-of-type {
  margin: 8%;
}

body section:first-of-type div {
  display: flex;
  line-height: 50px;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 20px 20px;
  box-shadow: 0 4px 6px silver;
  margin-bottom: 18px;
  padding: 6px;
  margin-left: 10px;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  color: #9356DC;
}

body section:first-of-type div p:first-of-type {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 29px;
  font-weight: 400;
}

body section:last-of-type {
  background-color: #f5f5f5;
  padding: 5%;
}
body section:last-of-type a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px 20px;
  box-shadow: 0 4px 6px silver;
}
body section:last-of-type a img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
body section:last-of-type a .new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  padding: 2px 4px 2px 4px;
  font-weight: bold;
  color: #278870;
}
body section:last-of-type a .restaurant-name {
  padding: 10px 0 5px 10px;
  font-weight: bold;
  font-size: 1.1em;
}
body section:last-of-type a .restaurant-location {
  padding: 0 0 10px 10px;
}
body section:last-of-type a .fa-heart {
  position: absolute;
  right: 23px;
  bottom: 23px;
  color: #9356DC;
  font-size: 1.5em;
}

.restaurant-page-name {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
