button {
  margin: 15% auto 15% auto;
  border: none;
  border-radius: 50px;
  padding: 5%;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px silver;
  display: block;
  min-width: 195px;
  @include tablet{
    font-size: 2rem;
  }
}

header div button {
  @include tablet {
    margin: auto;
  }
}

button:focus {
  outline: none;
}

.linear-gradient {
  background: linear-gradient(-10deg, $color-primary, #F074DA);
}