//style des boutons
button {
  margin: 15% auto 15% auto;
  border: none;
  border-radius: 50px;
  padding: 5%;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  display: block;
  min-width: 195px;
  @include tablet {
    font-size: 2rem;
    padding: 2%;
  }
  @include desktop {
    margin: 6% auto 10% auto;
  }
}

header div button {
  @include tablet {
    margin: auto auto 30px auto;
  }
}

button:focus {
  outline: none;
}

//animation des boutons
.linear-gradient {
  background: linear-gradient(-10deg, $color-primary, #F074DA);
  box-shadow: 0 0 3px darken($color-tertiary, 40);
  transition: all 300ms;
  text-shadow: 0 1px 1px rgb(47, 47, 47);

  &:hover {
    background: linear-gradient(-10deg, $primary-light, $button-light);
    box-shadow: 0 0 10px darken($color-tertiary, 40);
  }
}

//animation des cartes fonctionnement
.operation div {
  transition: background-color 300ms;

  &:hover {
    background-color: lighten($color-secondary, 20%);
  }
}