:root{
  font-size: 10px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

header a h1, header h1 {
  font-size: 3rem;
}

.restaurant-menu div h1 {
  font-size: 2.8rem;
}

footer h1{
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-weight: lighter;
  font-size: 1.8rem;
}

h5{
  font-size: 2.1rem;
}

a{
  text-decoration: none;
  color: black;
}

footer, footer a{
  color: #ffffff
}