//cartes et animation
@mixin noBreak {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-card {
  min-width: 100%;
  display: flex;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  cursor: pointer;
  background-color: white;

  &:active .dish-card-check {
    right: 0;
    flex: 1;

    > i{
      animation: rotation 500ms linear;
      }
    }

  &:hover .dish-card-check {
    right: 0;
    flex: 1;

    > i {
      animation: rotation 500ms linear;
    }
  }

  .dish-card-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: auto;

    h2 {
      font-weight: bold;
      @include noBreak;
    }

    .description {
      margin: 6px 0 0 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex: 1;

      p:first-child {
        font-size: 1.3rem;
        @include tablet {
          font-size: 1.35rem;
        }
        @include desktop {
          font-size: 1.4rem;
        }
        @include noBreak;
      }

      p:last-child {
        padding-left: 10px;
      }
    }
  }

  .dish-card-check {
    flex: 0;
    position: relative;
    right: -20%;
    transition: all 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;

    i {
      font-size: 2.2rem;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(0);
  }
}